<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CSE's Inceptron - Hackathon 2k23</title>

    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='img/SIET logo.png') }}" rel="icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        body {
            text-align: center;
        }

        span {
            color: #c8f560;
        }

        .buy-tickets {
            position: relative;
            top: 2rem;
            margin-top: 2rem;
        }
    </style>
</head>

<body>
    <section id="schedule" class="section-with-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h2>Registration Confirmed</h2>
                <p>Your submission has been received. Thank you!</p>
            </div>
            {% if data %}
            <h2>The problem statement selected by <span>{{data.teamName}}</span> was
                <span>{{data.psID}} -
                    {{data.problemStatementTitle}}</span>
            </h2>
            <br>
            <h3> All the best for the project development</h3>
            <a class="buy-tickets" href="https://chat.whatsapp.com/HeLL9sjtOm1DRZeF0BLB2g">Join Whatsapp Group</a>
            {% endif %}
        </div>
    </section>

    <!-- Vendor JS Files -->
    <script src="static/vendor/aos/aos.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
</body>

</html>